### Commercial Data Analysis

### University of Virginia
### DS 5559: Big Data Analytics
### Last Updated: December 19, 2019

#### Name: Jay Hombal
#### Computing Id: mh4ey

### INSTRUCTIONS  
In this assignment, you will work with a dataset containing information about businesses.  Each record is a business location.  Follow the steps below, writing and running the code in blocks, and displaying the solutions.  

Each question part is worth 1 POINT, for a total of 15 POINTS.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

spark = SparkSession.builder \
        .appName("comm") \
        .getOrCreate()

In [2]:
# note that read.json can read a zipped JSON directly
df = spark.read.json('part-00000-a159c41a-bc58-4476-9b78-c437667f9c2b-c000.json.gz')

**1. (1 PT) Read in the dataset and show the number of records**

In [3]:
df.count()

154679

**2. (1 PT) Print the schema**

In [4]:
df.printSchema()

root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- coordinates: struct (nullable = true)
 |    |    |-- lat: double (nullable = true)
 |    |    |-- lon: double (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- county: string (nullable = true)
 |    |-- full_address: string (nullable = true)
 |    |-- highway_number: string (nullable = true)
 |    |-- is_headquarters: boolean (nullable = true)
 |    |-- is_parsed: boolean (nullable = true)
 |    |-- post_direction: string (nullable = true)
 |    |-- pre_direction: string (nullable = true)
 |    |-- secondary_number: string (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- street_address: string (nullable = true)
 |    |-- street_number: string (nullable = true)
 |    |-- street_type: string (nullable = true)
 |    |-- type_of_address: string (nullable = true)
 |    |-- zip: string (nullable = true)
 |    |-- zip_suffix: string (nullable = true)
 |-- business_tags: struct (nullable = true)
 |    |-- no: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- tags: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |-- yes: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- hours: struct (nullable = true)
 |    |-- any_day_is_24: boolean (nullable = true)
 |    |-- friday_close: string (nullable = true)
 |    |-- friday_lb: long (nullable = true)
 |    |-- friday_open: string (nullable = true)
 |    |-- friday_total_seconds: long (nullable = true)
 |    |-- hours: struct (nullable = true)
 |    |    |-- Friday: string (nullable = true)
 |    |    |-- Monday: string (nullable = true)
 |    |    |-- Saturday: string (nullable = true)
 |    |    |-- Sunday: string (nullable = true)
 |    |    |-- Thursday: string (nullable = true)
 |    |    |-- Tuesday: string (nullable = true)
 |    |    |-- Wednesday: string (nullable = true)
 |    |-- monday_close: string (nullable = true)
 |    |-- monday_lb: long (nullable = true)
 |    |-- monday_open: string (nullable = true)
 |    |-- monday_total_seconds: long (nullable = true)
 |    |-- saturday_close: string (nullable = true)
 |    |-- saturday_lb: long (nullable = true)
 |    |-- saturday_open: string (nullable = true)
 |    |-- saturday_total_seconds: long (nullable = true)
 |    |-- sunday_close: string (nullable = true)
 |    |-- sunday_lb: long (nullable = true)
 |    |-- sunday_open: string (nullable = true)
 |    |-- sunday_total_seconds: long (nullable = true)
 |    |-- thursday_close: string (nullable = true)
 |    |-- thursday_lb: long (nullable = true)
 |    |-- thursday_open: string (nullable = true)
 |    |-- thursday_total_seconds: long (nullable = true)
 |    |-- tuesday_close: string (nullable = true)
 |    |-- tuesday_lb: long (nullable = true)
 |    |-- tuesday_open: string (nullable = true)
 |    |-- tuesday_total_seconds: long (nullable = true)
 |    |-- wednesday_close: string (nullable = true)
 |    |-- wednesday_lb: long (nullable = true)
 |    |-- wednesday_open: string (nullable = true)
 |    |-- wednesday_total_seconds: long (nullable = true)
 |    |-- week_total_hours_pretty: string (nullable = true)
 |    |-- week_total_minutes_pretty: string (nullable = true)
 |    |-- week_total_seconds: long (nullable = true)
 |-- id: string (nullable = true)
 |-- menu: struct (nullable = true)
 |    |-- price_range: string (nullable = true)
 |    |-- url: string (nullable = true)
 |-- reviews: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- content: string (nullable = true)
 |    |    |-- date: string (nullable = true)
 |    |    |-- dislikes: long (nullable = true)
 |    |    |-- gender: string (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- language: string (nullable = true)
 |    |    |-- likes: long (nullable = true)
 |    |    |-- source: string (nullable = true)
 |    |    |-- stars: long (nullable = true)
 |    |    |-- tags: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user: string (nullable = true)
 |    |    |-- user_id: string (nullable = true)
 |-- urls: struct (nullable = true)
 |    |-- domain: string (nullable = true)
 |    |-- domains: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- email: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- urls: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- webpage: struct (nullable = true)
 |    |-- content: string (nullable = true)
 |    |-- count: long (nullable = true)
 |    |-- elapsed: double (nullable = true)
 |    |-- success: boolean (nullable = true)
 |    |-- timestamp: string (nullable = true)
 |    |-- title: string (nullable = true)
 |    |-- url: string (nullable = true)
 |    |-- urlhash: string (nullable = true)
 |    |-- validurl: string (nullable = true)

In [5]:
df.select('*').show()

+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+
|             address|       business_tags|               hours|              id|                menu|             reviews|                urls|             webpage|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+
|[Woodburn, [45.15...|                null|                null|000023995a540868|                null|                  []|[woodburn.k12.or....|[Educational Tech...|
|[Hialeah, [25.884...|[[], [[has_atm, Y...|[, 1900,, 0830, 3...|0000821a1394916e|                null|                null|[, [yelp.com],,, ...|                null|
|[Rochester, [43.1...|[[], [[accepts_cr...|[, 1700,, 0830, 3...|000136e65d50c3b7|                null|[[New (to me) qui...|[usps.com, [yelp....|[Welcome | USPS G...|
|[West Palm Beach,...|                null|                null|00014329a70b9869|                null|                null|                null|                null|
|[Eufaula, [35.283...|                null|[, 1700,, 0830, 3...|00031c0a83f00657|                null|                null|[drsodomcoburnand...|[DRS. COBURN, RIC...|
|[Birmingham, [33....|                null|                null|0003b7589a4e12a0|                null|[[Dr Cox and his ...|[, [google.com],,...|                null|
|[Houston, [29.722...|[[], [[takes_rese...|[, 2400,, 1100,, ...|00045f958e4bb02a|[2, https://www.y...|[[Dine in I resca...|[pizzahut.com, [f...|                null|
|[Flushing, [40.75...|[, [[specialties,...|[,,,,, [, 10:00-1...|00055eb14ea38ca2|                null|                null|                null|                null|
|[Helen, [34.68952...|[[by_appointment_...|[, 1800,, 1000, 2...|00059519f0dba1b4|                null|[[Dishware, decor...|[facebook.com, [f...|                null|
|[Glen Burnie, [39...|                null|                null|0005f8f0b2beeac4|                null|                null|[ecoopercontracti...|[24 HR Contractin...|
|[New York, [40.72...|                null|                null|000673b2dac411ea|                null|                null|[phdbiosciences.c...|[CONTACT | PHD Bi...|
|[Menlo Park, [37....|                null|                null|0006d5aa170bae22|                null|                  []|[guidespark.com, ...|[Employee Communi...|
|[Auburn, [38.9405...|                null|                null|00080a1e9b3607c0|                null|                null|[, [google.com],,...|                null|
|[Port Jefferson S...|                null|                null|0008bc70f8ba62bf|                null|[[I enjoyed the p...|[fullgospelcc.org...|[Full Gospel Chri...|
|[Olean,, US,,,,, ...|                null|                null|0008c39401d7ce3b|                null|                null|[locality.com, [f...|[locality.com Wel...|
|[Virgie,, US,,,,,...|                null|                null|0009cd9a574331a9|                null|                null|[, [facebook.com]...|                null|
|[Pacifica, [37.60...|                null|[true,,,, 86400, ...|000a1df4c8e0ecd2|                null|[[If you shop at ...|[shell.us, [shell...|[Shell in the Uni...|
|[Carrboro,, US,,,...|                null|                null|000a863f1d02dd78|                null|                null|[, [linkedin.com]...|                null|
|[Indianapolis, [3...|                null|[,,,,, [Closed, C...|000b4a9059161ee7|                null|                null|[drhortondentistr...|[Andrey M. Horton...|
|[Dearborn, [42.33...|[[], [[specialtie...|                null|000bf1e934ac9cb6|                null|                  []|[accesscommunity....|[ACCESS | Assisti...|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

**3. (1 PT) Show the first 5 records**  
hint: reaching deeper fields in json hierarchy can be done like this:  

`df.select('address.street_number')`

In [6]:
df.select('address.street_number').show(5)

+-------------+
|street_number|
+-------------+
|          965|
|         1137|
|         1614|
|          846|
|          403|
+-------------+
only showing top 5 rows

**4. (1 PT) Location**  

Count the number of records where the city is Houston

In [7]:
df.filter(df['address.city'] == 'Houston').count()

1668

**5. (1 PT) Hours**  

Count the number of records where closing time on Friday is 7pm

In [8]:
df.filter(df['hours.friday_close'] == '1900').count()

3305

**6. (1 PT) Location and Hours**  

Count the number of records where city is Houston and closing time on Friday is 7pm

In [9]:
df.filter((df.address.city == 'Houston') & (df.hours.friday_close == '1900')).count()

42

In [10]:
df.filter((df['address.city'] == 'Houston') & (df['hours.friday_close'] == '1900')).count()

42

**7. (1 PT) Price Range**  

Price range is quoted in number of dollar signs.  Count the number of records with price range greater than or equal to three.

In [11]:
df.select('menu.price_range')\
    .where((df.menu.price_range >= 3) & (df.menu.price_range.isNotNull())) \
    .count()

115

In [12]:
df.where(df.menu.price_range >= 3 ).count()

115

**8. (1 PT) COMPANY HEADQUARTERS**  

Show the distribution of the `address.is_headquarters` field:  
how many locations are HQ / are NOT HQ / are null?

In [13]:
df.groupby("address.is_headquarters").count().show()

+---------------+-----+
|is_headquarters|count|
+---------------+-----+
|           null|87625|
|           true|  318|
|          false|66736|
+---------------+-----+

**9. (1 PT) Webpage URLs**  

Register the dataframe as a temp table.  
Next, use Spark SQL to select the webpage title where the webpage url (accessed under `webpage.url`) is *Target.com*.  

Show the first record from your query, using show(1, False) to show the full text from the first record.

In [14]:
df.createOrReplaceTempView("business_temp_table")

In [15]:
spark.sql("SELECT address.city,webpage.url FROM business_temp_table WHERE webpage.url = 'Target.com' order by address.city DESC").show(1,False)

+----+----------+
|city|url       |
+----+----------+
|Yuma|Target.com|
+----+----------+
only showing top 1 row

**10. (1 PT) Analysis on Ratings**  

The reviews contains information such as the number of stars for each review (the *rating*).  
The ratings are stored in an array (`reviews.stars`) for each business location (you should check for yourself). Return the top five most common rating arrays.  For example, an array might look like: 
[5, 5]

In [16]:
spark.sql("""SELECT reviews.stars FROM business_temp_table 
    where size(reviews.stars)  >  0 
    limit 5""").show()

+--------------------+
|               stars|
+--------------------+
|              [4, 4]|
|                 [5]|
|               [,,,]|
|[,,,,,,,, 1, 5, 2...|
|                  []|
+--------------------+

In [17]:
spark.sql("""SELECT reviews.stars,count(reviews.stars) as count_stars FROM
          business_temp_table 
          where size(reviews.stars) > 0
          group by reviews.stars order by count(reviews.stars) 
          desc limit 5""").show()

+------+-----------+
| stars|count_stars|
+------+-----------+
|   [5]|       4258|
|    []|       3067|
|[5, 5]|       1610|
|   [1]|       1559|
|   [,]|        958|
+------+-----------+

**11. More work with Ratings**  

For this question, you will filter out null ratings and then compute the average rating for each business location (using the field: `id`).


a) (1 PT) Create a new dataframe retaining two fields: `id`, `reviews.stars`

In [18]:
df2 = spark.sql ('''select id, reviews.stars as reviews 
    from business_temp_table 
    where reviews.stars is not null
    and size(reviews.stars) > 0''')
df2.show()

+----------------+--------------------+
|              id|             reviews|
+----------------+--------------------+
|000136e65d50c3b7|              [4, 4]|
|0003b7589a4e12a0|                 [5]|
|00045f958e4bb02a|               [,,,]|
|00059519f0dba1b4|[,,,,,,,, 1, 5, 2...|
|0008bc70f8ba62bf|                  []|
|000a1df4c8e0ecd2|  [,, 4, 5, 5, 4, 5]|
|000c7b7a30623083|                 [5]|
|000c9ffc8b89af03|[5, 2, 5, 3, 3, 1...|
|000de20baa847ecc|  [1, 1, 1, 1, 5, 1]|
|001064359d9f162f|     [5, 5, 5, 5, 5]|
|0010c9f495d87dd7|[5, 1, 1, 5, 3, 5...|
|0017774db5e6400a|[, 5, 5, 5, 5, 5, 1]|
|00182a8380f6a08d|         [, 5, 1, 1]|
|001923e6a178e04f|[5, 1, 5, 5, 5, 5...|
|001b5ed931a82f14|                 [4]|
|001cc291d0c17d09|[3, 4, 5, 5, 5, 5...|
|001d8a61529e8843|        [1, 5, 5, 5]|
|001e40ff8bc1ce74|              [5, 5]|
|001e56776942132b|[,,,,,,,,,,,,,, 2...|
|001f9c3f0addd2ea|[5, 5, 2, 3, 4, 5...|
+----------------+--------------------+
only showing top 20 rows

b) (1 PT) Create a row for each rating  
hint: use the `withColumn()` and `explode()` functions  
you will need to import the `explode()` function by issuing:

`from pyspark.sql.functions import explode`

In [19]:
from pyspark.sql.functions import explode
df3 = df.select(df.id,explode(df.reviews.stars)) \
    .withColumnRenamed("col", "rating")\
    
df3.printSchema()
df3.show()

root
 |-- id: string (nullable = true)
 |-- rating: long (nullable = true)

+----------------+------+
|              id|rating|
+----------------+------+
|000136e65d50c3b7|     4|
|000136e65d50c3b7|     4|
|0003b7589a4e12a0|     5|
|00045f958e4bb02a|  null|
|00045f958e4bb02a|  null|
|00045f958e4bb02a|  null|
|00045f958e4bb02a|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|  null|
|00059519f0dba1b4|     1|
|00059519f0dba1b4|     5|
|00059519f0dba1b4|     2|
|00059519f0dba1b4|     4|
|00059519f0dba1b4|     5|
+----------------+------+
only showing top 20 rows

c) (1 PT) Return a count of the number of ratings in this dataframe

In [20]:
#not counting null reviews
df3.where(df3.rating.isNotNull()).count()

538241

In [21]:
df3.count()

600082

d) (1 PT) Drop rows where the rating is null, and return a count of the number of non-null ratings

In [22]:
df4 = df3.na.drop() \
   .show(truncate=False)

+----------------+------+
|id              |rating|
+----------------+------+
|000136e65d50c3b7|4     |
|000136e65d50c3b7|4     |
|0003b7589a4e12a0|5     |
|00059519f0dba1b4|1     |
|00059519f0dba1b4|5     |
|00059519f0dba1b4|2     |
|00059519f0dba1b4|4     |
|00059519f0dba1b4|5     |
|00059519f0dba1b4|1     |
|00059519f0dba1b4|4     |
|00059519f0dba1b4|4     |
|00059519f0dba1b4|4     |
|000a1df4c8e0ecd2|4     |
|000a1df4c8e0ecd2|5     |
|000a1df4c8e0ecd2|5     |
|000a1df4c8e0ecd2|4     |
|000a1df4c8e0ecd2|5     |
|000c7b7a30623083|5     |
|000c9ffc8b89af03|5     |
|000c9ffc8b89af03|2     |
+----------------+------+
only showing top 20 rows

e) (1 PT) Compute the average rating, grouped by `id`. After the average is computed, sort by `id` in ascending order and show the top 10 records.  
 
hint:   
this can all be done in one line using the `agg()` function  
this `id` should be at the top: 000136e65d50c3b7|

In [23]:
df3.where(df3.rating.isNotNull())\
    .groupby('id')\
    .avg('rating') \
    .sort('id')\
    .show(10)

+----------------+------------------+
|              id|       avg(rating)|
+----------------+------------------+
|000136e65d50c3b7|               4.0|
|0003b7589a4e12a0|               5.0|
|00059519f0dba1b4|3.3333333333333335|
|000a1df4c8e0ecd2|               4.6|
|000c7b7a30623083|               5.0|
|000c9ffc8b89af03|               3.0|
|000de20baa847ecc|1.6666666666666667|
|001064359d9f162f|               5.0|
|0010c9f495d87dd7|               3.0|
|0017774db5e6400a| 4.333333333333333|
+----------------+------------------+
only showing top 10 rows

In [24]:
!jupyter nbconvert DS5559_M3HW_JayHombal.ipynb --to pdf

[NbConvertApp] Converting notebook DS5559_M3HW_JayHombal.ipynb to pdf
[NbConvertApp] Writing 51202 bytes to ./notebook.tex
[NbConvertApp] Building PDF
[NbConvertApp] Running xelatex 3 times: ['xelatex', './notebook.tex', '-quiet']
[NbConvertApp] Running bibtex 1 time: ['bibtex', './notebook']
[NbConvertApp] WARNING | bibtex had problems, most likely because there were no citations
[NbConvertApp] PDF successfully created
[NbConvertApp] Writing 61109 bytes to DS5559_M3HW_JayHombal.pdf